*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);


}
.parent {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: white;
    width: 50%;
    margin: 100px auto;
}
.left-child, .right-child {
    flex: 1; 
    box-sizing: border-box; 
    margin-right: 20px;
}
.right-child h2{
    color:  hsl(158, 36%, 37%);
  }
.right-child span{
    font-size: 15px;
    text-decoration:line-through ;
    margin-left: 20px;
  }
  .right-child h5{
    text-transform: uppercase;
    letter-spacing: 3.3px;
    font-weight: normal;
    font-size: 18px;
  }
  .right-child h1{
    width: 80%;
  }
  .right-child p{
    width: 90%;
    color: gray;
    line-height: 1.5;
  }
.left-child img {
    width: 100%; 
    height: 500px; 
    border-radius: 10px;
}
.right-child {
    padding: 20px; 
}
.right-child> *{
    margin: 15px 0;
}
button {
    background-color:  hsl(158, 36%, 37%);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    width: 90% 
}
button:hover{
    background-color:  hsl(158, 75%, 21%);
}
button img {
    margin-right: 8px; 
}
/* responsive */
@media (max-width: 768px) {
    .parent {
      width: 90%;
      flex-direction: column;
      padding: 15px;
    }
    .left-child img {
      height: auto;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
    }
    .right-child {
      padding: 20px 0;
    }
    .right-child h1 {
      width: 100%;
    }
  
    .right-child p {
      width: 100%;
    }
  
    button {
      width: 100%;
    }
  }