body {
    background-color: hsl(185, 75%, 39%);
    font-family: "Kumbh Sans", sans-serif;
}
.top-card {
    background-image: url(images/bg-pattern-card.svg);
    height: 150px;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.avatar {
    position: absolute;
    top: 31%;
    right: 46%;
    border-radius: 50%;
    border: 3px solid white;
}
.container {
    background-color: white;
    margin: 100px auto;
    width: 30%;
    height: 400px;
    border-radius: 15px;
}
.middel-card {
    margin-top: 65px;
}
.middel-card h2 {
    text-align: center;
}
.middel-card span {
    font-weight: normal;
    font-size: 23px;
    color: gray;
}
.middel-card p {
    text-align: center;
    color: gray;
    font-size: 20px;
}
.down-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-weight: normal;
    gap: 10px;
    border-top: 2px solid gray;
}
.down-card h1 {
    font-size: 25px;
}
.down-card span {
    font-size: 18px;
    color: gray;
    display: block;
}
.down-card hr {
    width: 100%;
    color: gainsboro;
}

/* screen for phone */
@media (max-width: 480px) {
    .container {
        margin: 20px auto;
        width: 100%;
    }

    .avatar {
        width: 70px;
        height: 70px;
        top: 21%;
        right: 38%;
    }

    .middle-card h2 {
        font-size: 20px;
    }

    .middle-card span {
        font-size: 16px;
    }

    .middle-card p {
        font-size: 14px;
    }

    .down-card h1 {
        font-size: 18px;
    }

    .down-card span {
        font-size: 12px;
    }
}
